@model EcoStore.Models.Product

@{
    ViewBag.Title = "Product-Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li class="active">Single Product</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- content-wraper start -->
<div class="content-wraper">
    <div class="container">
        <div class="row single-product-area">
            <div class="col-lg-5 col-md-6">
                <!-- Product Details Left -->
                <div class="product-details-left">
                    <div class="product-details-images slider-navigation-1">
                        <div class="lg-image">
                            <a class="popup-img venobox vbox-item" href="@Url.Content(Model.ImgPath)" data-gall="myGallery">
                                <img src="@Url.Content(Model.ImgPath)" alt="product image">
                            </a>
                        </div>
                    </div>
                    @*<div class="product-details-thumbs slider-thumbs-1">
                        @if (ViewBag.Galleries != null)
                        {
                            foreach (var item in ViewBag.Galleries)
                            {
                                <div class="sm-image"><img src="@Url.Content(item.ImgPath)" alt="product image thumb"></div>
                            }
                        }
                            <div class="sm-image"><img src="~/Content/FrontendAssets/images/no preview.jpg" alt="product image thumb"></div>
                            <div class="sm-image"><img src="~/Content/FrontendAssets/images/no preview.jpg" alt="product image thumb"></div>
                            <div class="sm-image"><img src="~/Content/FrontendAssets/images/no preview.jpg" alt="product image thumb"></div>
                            <div class="sm-image"><img src="~/Content/FrontendAssets/images/no preview.jpg" alt="product image thumb"></div>
                            <div class="sm-image"><img src="~/Content/FrontendAssets/images/no preview.jpg" alt="product image thumb"></div>
                        
                    </div>*@
                </div>
                <!--// Product Details Left -->
            </div>

            <div class="col-lg-7 col-md-6">
                <div class="product-details-view-content pt-60">
                    <div class="product-info">
                        <h2>@Model.ProductName</h2>
                        <div class="rating-box pt-20">
                            <ul class="rating rating-with-review-item">
                                @for (int i = 1; i <= Model.ProductRating; i++)
                                {
                                    <li><i class="fa fa-star-o"></i></li>
                                }
                                @for (int i = (int)Model.ProductRating; i < 5; i++)
                                {
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                }
                                @*<li class="review-item"><a href="#">Read Review</a></li>
        <li class="review-item"><a href="#">Write Review</a></li>*@
                            </ul>
                        </div>
                        <div class="price-box pt-20">
                            <span class="new-price new-price-2">Rs. @Model.Price</span>
                        </div>
                        <div class="product-desc">
                            <p>
                                <span>
                                    @Model.ShortDescription
                                </span>
                            </p>
                        </div>
                        <div class="product-variants">
                            <div class="produt-variants-size">
                                <label>Size</label>
                                <select class="nice-select" style="color:#000;">
                                    <option value="@Model.Size.SizeId">@Model.Size.Name</option>
                                </select>
                            </div>
                        </div>
                        <div class="single-add-to-cart">
                            <form action="@Url.Action("AddToCart", "Home")" method="post" class="cart-quantity">
                                <input type="hidden" name="ProductId" value="@Model.ProductId" />
                                <div class="quantity">
                                    <label>Quantity</label>
                                    <div class="cart-plus-minus">
                                        <input class="cart-plus-minus-box" value="1" name="Qty" type="text">
                                        <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                        <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                    </div>
                                </div>
                                <button class="add-to-cart" type="submit">Add to cart</button>
                            </form>
                        </div>
                        <div class="product-additional-info pt-25">
                            <div class="product-social-sharing pt-25">
                                <ul>
                                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i>Facebook</a></li>
                                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i>Twitter</a></li>
                                    <li class="google-plus"><a href="#"><i class="fa fa-google-plus"></i>Google +</a></li>
                                    <li class="instagram"><a href="#"><i class="fa fa-instagram"></i>Instagram</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- content-wraper end -->
<!-- Begin Product Area -->
<div class="product-area pt-35">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="li-product-tab">
                    <ul class="nav li-product-menu">
                        <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a></li>
                        <li><a data-toggle="tab" href="#reviews"><span>Reviews</span></a></li>
                    </ul>
                </div>
                <!-- Begin Li's Tab Menu Content Area -->
            </div>
        </div>
        <div class="tab-content">
            <div id="description" class="tab-pane active show" role="tabpanel">
                <div class="product-description">
                    <span>@Model.LongDescription</span>
                </div>
            </div>
            <div id="reviews" class="tab-pane" role="tabpanel">
                <div class="product-reviews">
                    <div class="product-details-comment-block">
                        @if (ViewBag.Rating != null)
                        {
                            foreach (var item in ViewBag.Rating)
                            {
                                <div class="comment-review">
                                    <span>Grade</span>
                                    <ul class="rating">
                                        @for (int i = 1; i <= item.Rating1; i++)
                                        {
                                            <li><i class="fa fa-star-o"></i></li>
                                        }
                                        @for (int i = item.Rating1; i <= 5; i++)
                                        {
                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                        }

                                        @*<li><i class="fa fa-star-o"></i></li>
        <li><i class="fa fa-star-o"></i></li>
        <li><i class="fa fa-star-o"></i></li>
        <li class="no-star"><i class="fa fa-star-o"></i></li>*@
                                        @*<li class="no-star"><i class="fa fa-star-o"></i></li>*@
                                    </ul>
                                </div>
                                <div class="comment-author-infos">
                                    <span>@item.Name</span>
                                    <em>01-12-18</em>
                                </div>
                                <div class="comment-details">
                                    <p>@item.Comment</p>
                                </div>
                            }
                        }
                        else
                        {
                            <p>No reviews in this product</p>
                        }
                        <div class="review-btn">
                            <a class="review-links" href="#" data-toggle="modal" data-target="#mymodal">Write Your Review!</a>
                        </div>
                        <!-- Begin Quick View | Modal Area -->
                        <div class="modal fade modal-wrapper" id="mymodal">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <h3 class="review-page-title">Write Your Review</h3>
                                        <div class="modal-inner-area row">
                                            <div class="col-lg-6">
                                                <div class="li-review-product">
                                                    <img src="@Url.Content(Model.ImgPath)" alt="@Model.ProductName" class="img-responsive" style="width:100%;">
                                                    <div class="li-review-product-desc">
                                                        <p class="li-product-name">@Model.ProductName</p>
                                                        <p>
                                                            <span>@Model.ShortDescription</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="li-review-content">
                                                    <!-- Begin Feedback Area -->
                                                    <div class="feedback-area">
                                                        <div class="feedback">
                                                            <h3 class="feedback-title">Our Feedback</h3>
                                                            <form action="/Home/Ratings" method="Post">
                                                                <input type="hidden" name="ProductId" value="@Model.ProductId" />
                                                                <p class="your-opinion">
                                                                    <label>Your Rating</label>
                                                                    <span>
                                                                        <select class="star-rating" name="Rating">
                                                                            <option value="1">1</option>
                                                                            <option value="2">2</option>
                                                                            <option value="3">3</option>
                                                                            <option value="4">4</option>
                                                                            <option value="5">5</option>
                                                                        </select>
                                                                    </span>
                                                                </p>
                                                                <p class="feedback-form">
                                                                    <label for="feedback">Your Review</label>
                                                                    <textarea id="feedback" name="Comment" cols="45" rows="8" aria-required="true"></textarea>
                                                                </p>
                                                                <div class="feedback-input">
                                                                    <p class="feedback-form-author">
                                                                        <label for="author">Name<span class="required">*</span></label>
                                                                        <input id="author" name="Name" value="" size="30" aria-required="true" type="text">
                                                                    </p>
                                                                    <p class="feedback-form-author feedback-form-email">
                                                                        <label for="email">Email<span class="required">*</span></label>
                                                                        <input id="email" name="Email" value="" size="30" aria-required="true" type="text">
                                                                    </p>
                                                                    <div class="feedback-btn pb-15">
                                                                        <a href="#" class="close" data-dismiss="modal" aria-label="Close">Close</a>
                                                                        <a href="#"><button class="ReviewBtn">Submit</button></a>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                    <!-- Feedback Area End Here -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Quick View | Modal Area End Here -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product Area End Here -->
<!-- Begin Li's Laptop Product Area -->
<section class="product-area li-laptop-product pt-30 pb-50">
    <div class="container">
        <div class="row">
            <!-- Begin Li's Section Area -->
            <div class="col-lg-12">
                <div class="li-section-title">
                    <h2>
                        <span>15 other products in the same category:</span>
                    </h2>
                </div>
                <div class="row">
                    <div class="product-active owl-carousel">
                        <div class="col-lg-12">
                            <!-- single-product-wrap start -->
                            <div class="single-product-wrap">
                                <div class="product-image">
                                    <a href="single-product.html">
                                        <img src="@Url.Content(Model.ImgPath)" alt="Li's Product Image">
                                    </a>
                                    <span class="sticker">New</span>
                                </div>
                                <div class="product_desc">
                                    <div class="product_desc_info">
                                        <div class="product-review">
                                            <h5 class="manufacturer">
                                                <a href="product-details.html">Graphic Corner</a>
                                            </h5>
                                            <div class="rating-box">
                                                <ul class="rating">
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                    <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <h4><a class="product_name" href="single-product.html">Accusantium dolorem1</a></h4>
                                        <div class="price-box">
                                            <span class="new-price">$46.80</span>
                                        </div>
                                    </div>
                                   x
                                </div>
                            </div>
                            <!-- single-product-wrap end -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Li's Section Area End Here -->
        </div>
    </div>
</section>
<!-- Li's Laptop Product Area End Here -->
