@model EcoStore.ViewModels.UserViewModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!-- Breadcubs Area Start Here -->
<div class="breadcrumbs-area">
    <h3>Teacher</h3>
    <ul>
        <li>
            <a href="/Admin/Index">Home</a>
        </li>
        <li>Signup</li>
    </ul>
</div>
<!-- Breadcubs Area End Here -->
<!-- Add New Teacher Area Start Here -->
<div class="card height-auto">
    <div class="card-body">
        <div class="heading-layout1">
            <div class="item-title">
                <h3>Add New User</h3>
            </div>
            @{
                if (@ViewBag.Msg != null)
                {
                    <div class="alert alert-success">@ViewBag.Msg</div>
                }
                if (@ViewBag.ErrorMsg != null)
                {
                    <div class="alert alert-danger">@ViewBag.ErrorMsg</div>
                }
            }
        </div>
        @using (Html.BeginForm("Edit", "Accounts", FormMethod.Post, new { enctype = "multipart/form-data", @class = "new-added-form" }))
        {
            @Html.HiddenFor(x=>x.Id)
            <div class="row">
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>First Name</label>
                    @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name" } })
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Last Name</label>
                    @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last Name" } })
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>User Name</label>
                    @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control", @placeholder = "User Name" } })
                </div>

                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Date Of Birth</label>
                    @Html.EditorFor(m => m.DateOfBirth, new { htmlAttributes = new { @class = "form-control air-datepicker", @placeholder = "dd/mm/yyyy" } })
                    <i class="far fa-calendar-alt"></i>
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Gender</label>
                    @*<select class="form-control" name="Gender">
                        <option value="">Please Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>*@
                    @Html.DropDownListFor(m => m.Gender, new SelectList(new[] { "Male","Female"}),"Select Gender", new { @class="form-control"})
                </div>

                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Role</label>
                    @Html.DropDownList("Role", ViewBag.Roles as SelectList, "Select Role", new { @class = "form-control" })
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>E-Mail</label>
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Password</label>
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "********" } })
                </div>
                <div class="col-xl-4 col-lg-6 col-12 form-group">
                    <label>Phone</label>
                    @Html.EditorFor(m => m.Phone, new { htmlAttributes = new { @class = "form-control", @placeholder = "Contact No" } })
                </div>
                <div class="col-lg-6 col-12 form-group mg-t-30">
                    <label class="text-dark-medium">Upload Photo (150px X 150px)</label>
                    <input type="file" name="File" class="form-control-file">
                    <img src="@Url.Content(Model.ImgPath)" class="img-fluid" style="width: 200px;" />
                </div>
                <div class="col-xl-12 col-lg-12 col-12 form-group">
                    <label>Address</label>
                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control" })
                </div>
                <div class="col-12 form-group mg-t-8">
                    <button type="submit" class="btn-fill-lg btn-gradient-yellow btn-hover-bluedark">Update</button>
                    <button type="reset" class="btn-fill-lg bg-blue-dark btn-hover-yellow">Reset</button>
                </div>
            </div>
        }
    </div>
</div>

